// 全局变量$变量

/* 首页布局相关变量 */
$base-menu-width: 250px; // 菜单宽度
$base-menu-fold-width: 50px; // 菜单折叠宽度
$base-menu-bg-color: #001529; // 菜单背景色
$base-menu-logo-height: 50px; // 菜单logo栏高度
$base-menu-logo-img-width: 40px; // 菜单logo图片宽度
$base-menu-logo-img-height: 40px; // 菜单logo图片高度
$base-menu-logo-font-size: 20px; // 菜单logo字体大小

$base-tab-bar-height: 50px; // 顶部tab高度
